<section class="container" id="upcoming">
    <div class="upcoming-product-box">
        <div class="upcoming-product">
            <p class="upcoming-product-p">Featured products</p>
            <h1 class="upcoming-product-title">Browse featured</h1>
        </div>
        <div class="upcoming-product-list-box">
            <ul class="upcoming-product-list" id="upcoming-product">
            </ul>
            <button class="upcoming-next-btn" data-action="nextUpcoming">
                <span class="upcoming-next-btn-span" data-action="nextUpcoming">&#129122</span>
            </button>
        </div>
    </div>
</section>